@model IEnumerable<WebApplicationPruebaDesarrolloCliente.Models.Transacciones>

@{
    ViewData["Title"] = "PasoBusquedaPorFecha";
}

<h1>PasoBusquedaPorFecha</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotivoTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAgencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotivoTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAgencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
        </tr>
}
    </tbody>
</table>
